*{
    margin:0;
    padding:0;
}
.container{
    height:1000px;
    overflow-x: hidden;
   
}
.container .s-container {
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/b.avif);
    height:600px;
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  
 

}


.ss-container header {
    position:fixed;
    width:100%;
    height:10%;
    z-index:1;
   
    display:inline-flex;
    justify-content:space-between;
}
header .logo{
    animation: leftr 0.8s ease-out;
}
header .logo h2{
    margin:20px 0 0 40px;
    color:rgba(255, 255, 255, 0.856);
    font-size:30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    /*text-shadow:0px 0px 4px rgb(210, 52, 102);*/


}
header .logo h2 span{
    color:rgb(210, 52, 102);
    text-shadow:0px 0px 4px white;
}
header .menu{}
header .menu ul{}
header .menu ul li{
    display:inline-flex;
    opacity: 0;
    animation: bas 0.8s ease-in forwards;
    
    
}
header .menu ul li a{
    text-decoration: none;
    padding:10px;
    color:white;
    margin:20px 10px 10px 10px;
    text-transform:uppercase;
    
   
    


}
header .menu ul li a:hover{
    color:rgb(210, 52, 102)
}
header .menu ul li .active{
    color:rgb(210, 52, 102)

}
header .icones{
   
}
header .icones i{
    margin:20px 20px 0 0;
    font-size:30px;
    color:rgba(255, 255, 255, 0.856);
}
header .icones i:hover{
    color:rgb(210, 52, 102)

}


.right{
    float:right;
    width:50%;
    margin-top:200px;
    animation: rightr 0.8s ease-out;
}
.left{
    margin-top:100px;
}
 .left h1{
    text-transform:uppercase;
    margin:20px;
    font-size:70px;
    color:rgb(210, 52, 102);
   /* text-shadow:0px 0px 4px white;*/
    

 }
 .left p{
    color:rgba(255, 255, 255, 0.874);
    width:500px;
    line-height:20px;
    text-transform:capitalize
 }
 .btn{

    text-decoration: none;
    width:80px;
    padding:8px;
    text-transform:uppercase;
    background:transparent;
    text-align:center;
    color:rgb(210, 52, 102);
    font-size: 15px ;
    border-radius:40px;
   /* box-shadow:5px 1px 5px 1px white;*/
    margin-top:15px;
   border:1.5px solid rgb(210, 52, 102);
    animation:shadow 0.8s infinite;
    animation:haut 0.8s ease-out forwards;
    background-color:white;
    
   
}
.btn:hover{
  color:white;
  background-color: rgb(210, 52, 102);
  border:1px solid white;

}
 .left{
    float:left;
    width:50%;
    position:absolute;
    top:10%;
    left:10%;
    animation: leftr 0.8s ease-out;
   
  
   

}
.left img{
    height:450px;
    width:400px;
    filter:drop-shadow(1px 1px 20px white);
}
.propos{
    margin-top:15px;
    display:grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 450px;
    justify-items:center;
    align-items:center;
    
  


}
.propos .left2{}
.propos .left2 img{
    height:300px;
    animation:leftr 0.8s ease-out ;

}
.propos .center{
    position:relative;
    border:2px solid rgb(210, 52, 102);
    padding:80px;
    border-radius:50%
}
.propos .center img{
    height:80px;
    position:absolute;
    top:62px;
    left:176px
}
.propos .center h2{
    font-size:30px;
    color:rgb(210, 52, 102);
    text-align:center;
    opacity:0;
    animation:bas 0.8s ease-out forwards;
}
.propos .center p{
    margin:65px 0px 0 15px;
    line-height:25px;
    color:gray
    
}
.propos .right2{}
.propos .right2 img{
    height:300px;
    animation:rightr 0.8s ease-out;
}


.menu2{
    margin-top:50px;
    position:relative;
    
}
.menu2 .grid-menu{
    text-align:center;

}
.menu2 .grid-menu h2{
    font-size:30px;
    text-transform: capitalize;
    margin-bottom:5px;
}
.menu2 .grid-menu h2 span{
    color:rgb(210, 52, 102);

}
.menu2 .grid-menu p{
    color:rgba(0, 0, 0, 0.783);
    margin-bottom:20px
}
.menu2 .boxes{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 300px;
    grid-gap:;
    justify-items: center;
    align-items:center;
    
    





}
.box-a{
    margin-left:250px;
    margin-right:8px;
  border:20px solid #fff;
  box-shadow:20px 15px 35px rgba(0,0,0,0.8);
}
.box-b{
    margin-left:8px;
    margin-right:8px;
    border:20px solid #fff;
    box-shadow:20px 15px 35px rgba(0,0,0,0.8);
}
.box-c{
    margin-left:8px;
    margin-right:8px;
    border:20px solid #fff;
    box-shadow:20px 15px 35px rgba(0,0,0,0.8);
}
.box-d{
    margin-left:8px;
    margin-right:303px;
    border:20px solid #fff;
    box-shadow:20px 15px 35px rgba(0,0,0,0.8);
}
.box-e{
    margin-left:250px;
    margin-right:8px;
    border:20px solid #fff;
    box-shadow:20px 15px 35px rgba(0,0,0,0.8);
   
}
.box-f{
    margin-left:8px;
    margin-right:8px;
    border:20px solid #fff;
    box-shadow:20px 15px 35px rgba(0,0,0,0.8);
   
}
.box-g{
    margin-left:8px;
    margin-right:8px;
    border:20px solid #fff;
    box-shadow:20px 15px 35px rgba(0,0,0,0.8);
}
.box-h{
     margin-left:8px;
    margin-right:303px;
    border:20px solid #fff;
    box-shadow:20px 15px 35px rgba(0,0,0,0.8);
}
.menu2 .boxes .box-a img,.box-b img,.box-c img,.box-d img,.box-e img,.box-f img,.box-g img,.box-h img {
    height:200px;
    width:150px;
    

}
.menu2 .boxes .box-a p ,.box-b p ,.box-c p ,.box-d p ,.box-e p ,.box-f p ,.box-g p ,.box-h p{

    text-align:center;
    text-transform:capitalize;
    font-family:sans-serif;
    font-size:15px;
    margin-top:15px;
    letter-spacing:1px;
    word-spacing: 2px;

}
.menu2 .btnc{
    margin-top:30px;
    position:absolute;
    left:49%;
    background-color:white;
    padding:10px;
    color:rgb(210, 52, 102);
    text-align:center;
   text-decoration: none;
    width:80px;
    padding:8px;
    text-transform:uppercase;
    background:transparent;
    text-align:center;
    color:rgb(210, 52, 102);
    font-size: 15px ;
    border-radius:40px;
    border:1.5px solid rgb(210, 52, 102);
    background-color:white;
    
}
.menu2 .btnc:hover{
    background-color:rgb(210, 52, 102);
    color:white;
    border:1px solid white;
    transition:0.8s;
}
.menu3{
    margin-top:200px;
    position:relative;
    
}
.menu3 .grid-menu3{
    text-align:center;

}
.menu3 .grid-menu3 h2{
    font-size:30px;
    text-transform: capitalize;
    margin-bottom:5px;
}
.menu3 .grid-menu3 h2 span{
    color:rgb(210, 52, 102);

}
.menu3 .grid-menu3 p{
    color:rgba(0, 0, 0, 0.783);
    margin-bottom:0px
}
.menu3 .boxes3{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 300px;
    grid-gap:;
    justify-items: center;
    align-items:center;

}
.box-aa{
    margin-left:303px;
    margin-right:8px;

}
.box-bb{
    margin-left:8px;
    margin-right:8px;
   
}
.box-cc{
    margin-left:8px;
    margin-right:8px;
   
}
.box-dd{
    margin-left:8px;
    margin-right:303px;
   
}
.menu3 .boxes3 .box-aa img,.box-bb img,.box-cc img,.box-dd img {
    height:200px;
    width:150px;
    

}
.menu3 .boxes3 .box-aa p ,.box-bb p ,.box-cc p ,.box-dd p { 
    text-align:center;
    text-transform:capitalize;
    font-family:sans-serif;
    font-size:15px;
    margin-top:15px;
    letter-spacing:1px;
    word-spacing: 2px;

}
.menu4{
    height:500px;
    margin:20px;
    background-image:url(../image/bg2.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    color:white;
   
}
.menu4 .grid-menu4{
    text-align:center;
}
.menu4 .grid-menu4 h2{
    font-size:30px;
    text-transform:capitalize;
    margin:5px;
}
.menu4 .grid-menu4 h2 span{
    color:orange;
    font-size:35px;
}
.menu4 .grid-menu4 p{
 
}
.menu4 .boxes4{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 300px;
    margin-top:50px;
    align-items:center;
    justify-items:center;
}
.menu4 .boxes4 .x{
    width:200px;
   
}






.menu4 .boxes4 .box-aaa{  
    margin-left:250px;
    margin-right:8px; 
}
.menu4 .boxes4 .box-bbb{ 
    margin-left:130px;
    margin-right:8px;
 }
.menu4 .boxes4 .box-ccc{
    margin-left:8px;

 }
.menu4 .boxes4 .box-aaa img,.box-bbb img,.box-ccc img{
    height:70px;
    width:70px;
    border-radius:60%;
    text-align:center;
    margin-left:58px
}
.menu4 .boxes4 .box-aaa p ,.box-bbb p ,.box-ccc p{

    color:rgba(0, 0, 0, 0.438);
}
.menu4 .boxes4 .box-aaa h6 ,.box-bbb h6 ,.box-ccc h6{}
.menu4 .boxes4 .box-aaa ,.box-bbb  ,.box-ccc{
 background-color:white;
 border:20px solid #fff;
 box-shadow:20px 15px 35px rgba(0,0,0,0.8);

}
.menu5{
    margin-top:150px;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/b.avif);
    /*background-position:center;*/
    background-size:cover;
    background-repeat:no-repeat;
    height:600px;
}
.menu5 .grid-menu5{
    text-align:center;
    
}
.menu5 .grid-menu5 h2{
    font-size:30px;
    text-transform:capitalize;
    padding-top:100px;
    color:white;

}
.menu5 .grid-menu5 h2 span{
    color:rgb(210, 52, 102);
 }

.menu5 .grid-menu5 p{
    color:rgba(0, 0, 0, 0.783);
 
    
    
}
.formulaire{
    background-color:white;
    border:20px solid #fff;
    box-shadow:20px 15px 35px rgba(0,0,0,0.8);
    width:250px;
    margin-left:480px;
    height:250px;
    margin-top:5px;
}
.formulaire form center table td .titre6{
  color:black;
  margin-top:20px;
  
  
  font-size:18px;

}
.formulaire form center table td input,textarea{
    margin-top:15px
   
}
.formulaire form center table td .bouton6{
    text-decoration: none;
    width:80px;
    padding:8px;
    text-transform:uppercase;
    background:transparent;
    text-align:center;
    color:rgb(210, 52, 102);
    font-size: 15px ;
    border-radius:40px;
   /* box-shadow:5px 1px 5px 1px white;*/
    margin-top:15px;
   border:1.5px solid rgb(210, 52, 102);
    animation:shadow 0.8s infinite;
    animation:haut 0.8s ease-out forwards;
    background-color:white;
    


}
.formulaire form center table td .bouton6:hover{
    background-color:rgb(210, 52, 102);
    color:white;
    transition:0.8s;
}








































/*
@media (min-width:1400px){
    .container h2::after{
        content:"1390px"
    }
}
@media (min-width:1200px) and (max-width:1390px){
    .container h2::after{
        content:"1200px"
    }
    .container .colonnes .box{
        margin:0.5px
    }
}
@media (min-width:800px) and (max-width:1200px){
    .container h2::after{
        content:"800px"
    }
    .container .colonnes .box p{
        font-size:13px solid black
    }
}
@media (min-width:600px) and (max-width:800px){
    .container h2::after{
        content:"600px"
    }
    .container .colonnes .box {
        float:none;
        width:100%;
    }
}
@media (min-width:300px) and (max-width:600px){
    .container h2::after{
        content:"300px"
    }
     }
@media(min-width:0px) and (max-width:300px){}*/
@media (max-width: 1400px) {
    .propos .center img{
        left:110px;
    }

   
}

@media (max-width: 996px) {
  
    .right p{
        width:400px;
        margin-left:40px;
    }
    .left img{
        margin-right:400px;
        width:300px;

    }
    .btn {
        margin-left:40px;
    }

   
}

@media (max-width: 911px)  {
    .right{
        margin-right:80px;
    }
    .left img{
       width:289px;
       position:absolute;
       left:-38px

    }
 
}
@media (max-width: 773px) {
   .propos {
    margin-top:150px;
    
   }

   
}

@media (max-width: 740px) {
    .right{
       position:absolute;
       right:40px
    }
    .left img{
        width:250px;
        position:absolute;
        left: -45px
 
     }

   
}
@media (max-width: 674px) {
    .right{
       position:absolute;
       right:55px
    }
    .left img{
        width:200px;
        position:absolute;
        left: -62px;
        top:40px;
 
     }

   
}
@media (max-width: 644px) {
    .container {
        overflow-x: hidden;
    }
    .right{
        position:absolute;
        left:150px
       
    }

   
}
@media (max-width: 621px) {
    .container {
        overflow-x: hidden;
    }
    .right{
        position:absolute;
        left:135px
       
       
    }
    .right p{
        width:350px;
    }
    .left img{
        width:180px;
        height:400px;
    }

   
}
@media (max-width: 575px) {
    .container .s-container{
        height:800px;
    }
    .right{
        position:absolute;
        top:-50px;
        left:50px;

    }
    .left img{
        position:absolute;
        top:370px;
        height:300px;
        width:270px;
        left:60px
    
    }
    .propos{
        margin-top:240px;
    }
     
   
   

   
}
@media (max-width: 484px) {
    .container .s-container{
        height:900px;
    }
    .right{
      position:absolute;
      left:20px

    }
    
  

   
}
@media (max-width: 455px) {
    .container .s-container{
        height:900px;
    }
    .right{
      position:absolute;
      left:10px;
     top:20px;

    }
    
  

   
}
@media (max-width: 442px) {
    .container .s-container{
        height:900px;
    }
    .right{
      position:absolute;
      left:0px;
     top:40px;

    }
    .right h1{
        font-size:60px;
    }
    
    
  

   
}
@media (max-width: 420px) {
    
    
    
    .right p{
        width:300px
    }
    .left img{
        position:absolute;
        top:395px;
    }
    
    
    
  

   
}
@media (max-width: 399px) {

  .right h1{
    font-size:50px;

  }
  .right p{
    width:200px;
  }
   
    
     
   
   

   
}
@media (max-width: 325px) {
    header .logo h2{
        margin:18px 0 0 0;
    }
   
    .right{
        position:absolute;
        left:0px;
       top:60px;
       z-index:1;
        
    }
    .right h1{
      font-size:30px;
      margin-left:45px;
  
    }
    .right p{
        font-size:15px;
      width:200px;
    }
    .left img{
        position:absolute;
        top:430px;
        left:0px

    }
     
      
       
     
     
  
     
  }
  @keyframes shadow {
    from{
        box-shadow:0px 0px 10px white;
    }
    to{
        box-shadow:2px 2px 20px white; 
    }
    
}
@keyframes leftr {
    from{
        transform:translateX(-1000px);
    }
    to{
        transform:translateX(0);

    }
}
@keyframes rightr {
    from{
        transform:translateX(1000px);
    }
    to{
        transform:translateX(0);

    }
}
@keyframes haut {
    from{
        opacity:0;
        transform:translateY(100px);
    }
    to{
        opacity:1;
        transform:translateY(0);

    }
}
@keyframes bas {
    from{
        opacity:0;
        transform:translateY(-100px);
    }
    to{
        opacity:1;
        transform:translateY(0);

    }
}
  
  

















